/* External CSS for setting font family */
body {
    font-family: "Arial", sans-serif; /* Example favorite font family */
}

#heading {
    background-color: lightgreen; /* Background color for the element with id "heading" */
}

.paragraph {
    background-color: lightyellow; /* Background color for elements with class "paragraph" */
}

table {
    background-color: lightcoral; /* Background color for all tables */
}


td {
    background-color: lightblue !important; /* Background color for all table cells */
}


#liitem {
    background-color: lightgray; /* Background color for the element with id "liitem" */
}